<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PepiTalk"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Grupo"
            android:exported="false">
        </activity>
        <activity
            android:name=".Login"
            android:exported="false">
        </activity>
        <activity
            android:name=".Oferta"
            android:exported="false">
        </activity>
        <activity
            android:name=".Registro"
            android:exported="false">
        </activity>
        <activity
            android:name=".Reunion"
            android:exported="false">
        </activity>
        <activity
            android:name=".Ruta"
            android:exported="false">
        </activity>
        <activity
            android:name=".VerOferta"
            android:exported="false">
        </activity>
        <activity
            android:name=".VerOfertasCliente"
            android:exported="false">
        </activity>
        <activity
            android:name=".VerOfertasTraductor"
            android:exported="false">
        </activity>
        <activity
            android:name=".VerReunion"
            android:exported="false">
        </activity>
        <activity
            android:name=".VerReuniones"
            android:exported="false">
        </activity>
        <activity
            android:name=".VerGrupo"
            android:exported="false">
        </activity>
        <activity
            android:name=".VerGrupos"
            android:exported="false">
        </activity>
        <activity
            android:name=".MenuCliente"
            android:exported="false">
        </activity>
        <activity
            android:name=".MenuTraductor"
            android:exported="false">
        </activity>
        <activity
            android:name=".ActualizarCuenta"
            android:exported="false">
        </activity>
        <activity
            android:name=".ActualizarGrupo"
            android:exported="false">
        </activity>
        <activity
            android:name=".ActualizarReunion"
            android:exported="false">
        </activity>
        <activity
            android:name=".AceptarTraductor"
            android:exported="false">
        </activity>
        <activity
            android:name=".CrearGrupo"
            android:exported="false">
        </activity>
        <activity
            android:name=".CrearOferta"
            android:exported="false">
        </activity>
        <activity
            android:name=".CrearReunion"
            android:exported="false">
        </activity>
        <activity
            android:name=".Calificar"
            android:exported="false">
        </activity>
    </application>

</manifest>