<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pepitalk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pepitalk"
        android:supportsRtl="true"
        android:theme="@style/Theme.PepiTalk"
        tools:targetApi="31">
        <activity
            android:name=".Logica.Ruta"
            android:exported="false" />
        <activity
            android:name=".Logica.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Logica.Grupo"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.Login"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.Oferta"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.Registro"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.Reunion"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.VerCalificaciones"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.VerOferta"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.VerGrupos"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.Perfil"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.VerReunion"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.VerReuniones"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.VerGrupo"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.VerOfertas"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.MenuCliente"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.MenuTraductor"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.ActualizarCuenta"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.ActualizarReunion"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.ActualizarOferta"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.ActualizarGrupo"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.AceptarTraductor"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.CrearGrupo"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.CrearOferta"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.CrearReunion"
            android:exported="false"></activity>
        <activity
            android:name=".Logica.Calificar"
            android:exported="false"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.pepitalk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>